.main__chat
  .main__chat__header
    .main__chat__header__block
      .main__chat__header__block__groupname
        = @group.name
      .main__chat__header__block__member
        - @group.users.each do |user| 
          = user.name
    .main__chat__header__edit
      = link_to "edit", edit_group_path(@group), class: "main__chat__header__edit__btn " 
  .main__chat__messages
    .main__chat__messages__message
      .main__chat__messages__message__text
        = render @messages

  .main__chat__form
    .main__chat__form__message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

