.side__bar
  .side__bar__header
    .side__bar__header__box
      %p.side__bar__header__box__name
        = current_user.name
      %ul.side__bar__header__box__menu
        %li.side__bar__header__box__menu__edit
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side__bar__header__box__menu__set
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog', class: 'icon')
  .side__bar__groups
    - current_user.groups.each do |group|
      .side__bar__groups__group
        = link_to group_messages_path(group) do
          %p.side__bar__groups__group__name
            = group.name
          %p.side__bar__groups__group__message
            = group.show_last_message
